* {
	margin: 0;
	padding: 0;
}

.main-header {
	height: 60px;
	width: 100%;
	background-color: #ec4141;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 840px) {
	.main-header {
		width: 840px;
	}
}

.main-body {
	width: 100%;
	height: calc(100vh - 140px);
	display: flex;
}

@media screen and (max-height: 531px) {
	.main-body {
		height: 390px;
	}
}

.main-body .main-body-left {
	height: 100%;
	width: 200px;
	border-right: 1px #e0e0e0 solid;
}

.main-body-right {
	width: calc(100% - 240px);
	margin: 0 20px;
}

.main-footer {
	height: 80px;
	width: 100%;
	border-top: 1px #e0e0e0 solid;
}
